<h1>result is <%= result %></h1>
<h1>name is <%= name %></h1>
<h1>user name is <%= user_name %></h1>
<h1>user email is <%= user_email %></h1>
<h1>user x is <%= user_x %></h1>
<h1>user y is <%= user_y %></h1>
<% if (names.length) { %>
  <ul>
    <% names.forEach(function(name){ %>
      <li><%= name %></li>
    <% }) %>
  </ul>
<% } %>
<% if (passed_courses.length) { %>
  <ul>
    <% passed_courses.forEach(function(course){ %>
      <li><%= course %></li>
    <% }) %>
  </ul>
<% } %>



<a href="/index">home</a>
